{% extends "base.html" %} {% block title %}{% endblock %} {% block body %}
<div class="content">
  <h1>Tullinge Booking - {{ activity["name"] }}</h1>
  <p>Inloggad som {{ fullname }}, klass {{ school_class }}.</p>

  <a href="/">
    <button class="btn btn-primary">Tillbaka till startsidan</button>
  </a>

  {% if fail %}
  <div class="alert alert-danger" role="alert">
    <p>{{ fail }}</p>
  </div>
  {% endif %} {% if success %}
  <div class="alert alert-success" role="alert">
    <p>{{ success }}</p>
  </div>
  {% endif %}

  <div>
    <p>{{ activity["info"] }}</p>

    <p>Totalt antal platser: {{ activity["spaces"] }}</p>
    <p>Lediga platser: {{ available_spaces }}</p>
  </div>

  {% if questions %}
  <h2>Frågor för denna aktivitet</h2>
  {% endif %}

  <div>
    <form action="/activity/{{ activity['id'] }}" , method="post">
      {% for question in questions %} {% if question["info"]["written_answer"]
      %}
      <!-- written question -->
      <div class="form-group">
        <label for="{{ question['info']['id'] }}"
          >{{ question['info']['question'] }}</label
        >
        <input {% if question["info"]["obligatory"] %}required{% endif %}
        name="{{ question['info']['id'] }}" type="text" class="form-control"
        id="{{ question['info']['id'] }}" />
        <small
          >{% if question["info"]["obligatory"] %}Obligatorisk{% else
          %}Frivillig{% endif %}</small
        >
      </div>
      {% else %}
      <!-- question with options -->
      <div class="form-group">
        <label for="{{ question['info']['id'] }}"
          >{{ question['info']['question'] }}</label
        >
        <select
          required
          class="form-control"
          id="{{ question['info']['id'] }}"
          name="{{ question['info']['id'] }}"
        >
          {% for option in question['options'] %}
          <option value="{{ option['id'] }}">{{ option['text'] }}</option>
          {% endfor %}
        </select>
        <small
          >{% if question["info"]["obligatory"] %}Obligatorisk{% else
          %}Frivillig{% endif %}</small
        >
      </div>
      {% endif %} {% endfor %}
      <button type="submit" class="btn btn-primary">Välj aktivitet</button>
    </form>
  </div>
</div>

{% endblock %}
