<!--
tullinge/booking
https://github.com/tullinge/booking
-->

{% extends "base.html" %}
{% block title %}{% endblock %}
{% block body %}
    <h1>Tullinge Booking - {{ activity[1] }}</h1>
    <p>Inloggad som {{ fullname }}, klass {{ school_class }}.</p>

    <a href="/">
        <button class="btn btn-primary">Tillbaka till startsidan</button>
    </a>

    {% if fail %}
    <div class="alert alert-danger" role="alert">
        <p>{{ fail }}</p>
    </div>
    {% endif %}

    {% if success %}
    <div class="alert alert-success" role="alert">
        <p>{{ success }}</p>
    </div>
    {% endif %}

    <div>
        <p>{{ activity[3] }}</p>

        <p>Totalt antal platser: {{ activity[2] }}</p>
        <p>Lediga platser: {{ available_spaces }}</p>
    </div>

    {% if questions %}<h2>Frågor för denna aktivitet</h2>{% endif %}

    <div>
        <form action="/activity/{{ activity[0] }}", method="post">
            {% for question in questions %}
            {% if question[0][3] %}
                <!-- written question -->
                <div class="form-group">
                    <label for="{{ question[0][0] }}">{{ question[0][2] }}</label>
                    <input required name="{{ question[0][0] }}" type="text" class="form-control" id="{{ question[0][0] }}" />
                </div>
            {% else %}
                <!-- question with options -->
                <div class="form-group">
                    <label for="{{ question[0][0] }}">{{ question[0][2] }}</label>
                    <select required class="form-control" id="{{ question[0][0] }}" name="{{ question[0][0] }}">
                        {% for option in question[1] %}
                        <option value="{{ option[0] }}">{{ option[2] }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">Välj aktivitet</button>
        </form>
    </div>

{% endblock %}