{% extends "base.html" %}
{% block title %} - Fel vid inloggning{% endblock %}
{% block custom_head %}
<style>
.footer div {
    text-align: center;
}
</style>
{% endblock %}
{% block body %}
    <div class="content login-content">
        <h1 class="align-center">Tullinge Booking</h1>

        <p>Ett fel uppstod vid inloggningen.</p>

        {% if message %}
        <div class="alert alert-danger" role="alert">
            <p>{{ message }}</p>
        </div>
        {% endif %}
    
        <a href="/login">
            <button class="btn btn-primary">
                Försök igen
            </button>
        </a>
    
    </div>
{% endblock %}