{% extends "base.html" %}
{% block title %} - Bokning bekräftad{% endblock %}
{% block body %}
    {% if fail %}
    <div class="alert alert-danger" role="alert">
        <p>{{ fail }}</p>
    </div>
    {% endif %}

    {% if success %}
    <div class="alert alert-success" role="alert">
        <p>{{ success }}</p>
    </div>
    {% endif %}

    <h1>Tullinge Booking - Bokning bekräftad</h1>
    <p>Inloggad som {{ fullname }}, klass {{ school_class }}, aktivitet {{ choosen_activity }}.</p>



{% endblock %}