{% extends "base.html" %}
{% block title %}{% endblock %}
{% block custom_head %}{% include "google.html" %}{% endblock %}
{% block body %}
    <div class="content">
        <h1>Tullinge Booking</h1>
        <p>Inloggad som {{ fullname }}, klass {{ school_class }}.</p>
    
        {% if chosen_activity %}
        <p>Din bokning för aktivitet {{ chosen_activity['name'] }} är bekräftad.</p>
        {% endif %}
    
        <a href="/logout" onclick="signOut();">
            <button class="btn btn-primary">Logga ut</button>
        </a>
    
        <h2>Tillgängliga aktiviteter</h2>
    </div>

    <div class="list-group">
        {% for activity in activities %}
        <a href="/activity/{{ activity['activity']['id'] }}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ activity['activity']['name'] }}</h5>
            <small>{{ activity['available_spaces'] }} lediga platser</small>
            </div>
            <p class="mb-1">{{ activity['activity']['info'] }}</p>
            <small>Totalt antal platser: {{ activity['activity']['spaces'] }}</small>
        </a>
        {% endfor %}
    </div>

{% endblock %}