sudo: required
language: python
services:
  - mysql
  - docker

before_install:
  - mysql -e 'CREATE DATABASE booking;'
  - mysql -e "GRANT ALL PRIVILEGES ON booking.* To 'admin' IDENTIFIED BY 'do-not-use-in-production';"
  - python -m pip install --upgrade pip
  - pip install -r requirements.txt

install:
  - pip3 install flake8 black

script:
  - flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
  - flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
  - black --check .
  - docker build . -t tullingegymnasium/booking_app
