[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "==20.8b1"

[packages]
cryptography = "*"
redis = "*"
google-api-python-client = "*"
google-auth = "*"
requests = "*"
Flask = "*"
PyMySQL = "*"
Flask-Session = "*"
Flask-Minify = "*"
Flask-Limiter = "*"

[requires]
python_version = "3.9"
