/*
tullinge/booking
https://github.com/tullinge/booking
*/

body {
    background-color: white !important;
}

.content {
    padding: 0.5em;
}

.login-content {
    width: 100%;
    padding: 0px;
    margin: auto;
    max-width: 400px;
}

.align-center {
    text-align: center;
}

.footer div {
    padding-left: 0.5em;
    padding-top: 1.5em;
    font-style: italic;
}

button {
    margin-top: 0.1em !important;
    margin-bottom: 0.1em !important;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}