{% extends "base.html" %}
{% block title %} - Aktiviteter{% endblock %}
{% block body %}
{% include "admin/navbar.html" %}
    <h1>Aktiviteter</h1>

    {% if fail %}
    <div class="alert alert-danger" role="alert">
        <p>{{ fail }}</p>
    </div>
    {% endif %}

    {% if success %}
    <div class="alert alert-success" role="alert">
        <p>{{ success }}</p>
    </div>
    {% endif %}

    <h2>Skapa ny aktivitet</h2>
    <form action="/admin/activities" method="POST">
        <div class="form-group">
            <label for="name">Namn</label>
            <input name="name" type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Ange aktivitetens namn.">
            <small id="nameHelp" class="form-text text-muted">Namnet som syns i bokningssystemet.</small>
        </div>

        <div class="form-group">
            <label for="spaces">Antal platser</label>
            <input name="spaces" type="text" class="form-control" id="spaces" aria-describedby="spacesHelp" placeholder="Ange antalet platser för denna aktivitet.">
            <small id="spacesHelp" class="form-text text-muted">Ange antalet platser, heltal.</small>
        </div>

        <div class="form-group">
            <label for="info">Beskrivning/ytterligare information</label>
            <textarea name="info" aria-describedby="infoHelp" class="form-control" id="info" rows="3"></textarea>
            <small id="infoHelp" class="form-text text-muted">En kortare beskrivning om aktiviteten som syns för elever.</small>
        </div>

        <button type="submit" class="btn btn-primary">Skapa</button>
    </form>

    <h2>Tillgängliga aktiviteter</h2>

    <p>Tryck på en aktivitet för att få mer information samt möjlighet att redigera/ta bort.</p>

    <div class="list-group">
        {% for activity in activities %}
        <a href="/admin/activity/{{ activity[0][0] }}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ activity[0][1] }}</h5>
            <small>{{ activity[1] }} lediga platser</small>
            </div>
            <p class="mb-1">{{ activity[0][3] }}</p>
            <small>Totalt antal platser: {{ activity[0][2] }}</small>
        </a>
        {% endfor %}
    </div>
{% endblock %}