{% extends "base.html" %} {% block title %} - Byt lösenord{% endblock %} {%
block body %} {% include "admin/navbar.html" %}
<div class="content">
  <h1>Byt lösenord</h1>

  {% if fail %}
  <div class="alert alert-danger" role="alert">
    <p>{{ fail }}</p>
  </div>
  {% endif %} {% if success %}
  <div class="alert alert-success" role="alert">
    <p>{{ success }}</p>
  </div>
  {% endif %}

  <form action="/admin/changepassword" method="POST">
    <div class="form-group">
      <label for="current_password">Nuvarande lösenord</label>
      <input
        required
        name="current_password"
        type="password"
        class="form-control"
        id="current_password"
        aria-describedby="current_password_help"
        placeholder="Lösenord"
      />
      <small id="current_password_help" class="form-text text-muted"
        >Ange ditt nuarande lösenord.</small
      >
    </div>
    <div class="form-group">
      <label for="new_password">Nytt lösenord</label>
      <input
        required
        name="new_password"
        type="password"
        class="form-control"
        id="new_password"
        aria-describedby="new_password_help"
        placeholder="Lösenord"
      />
      <small id="current_password_help" class="form-text text-muted"
        >Ange ett nytt lösenord.</small
      >
    </div>
    <div class="form-group">
      <label for="new_password_verify">Nytt lösenord (igen)</label>
      <input
        required
        name="new_password_verify"
        type="password"
        class="form-control"
        id="new_password_verify"
        placeholder="Lösenord"
      />
    </div>
    <button type="submit" class="btn btn-primary">Byt lösenord</button>
  </form>
</div>
{% endblock %}
