{% extends "base.html" %}
{% block title %} - Mentorer i klass {{ school_class["class_name"] }}{% endblock %}
{% block body %}
{% include "admin/navbar.html" %}
    <div class="content">
        <h1>Mentorer registrerade på klass {{ school_class["class_name"] }}</h1>

        {% if fail %}
        <div class="alert alert-danger" role="alert">
            <p>{{ fail }}</p>
        </div>
        {% endif %}
    
        {% if success %}
        <div class="alert alert-success" role="alert">
            <p>{{ success }}</p>
        </div>
        {% endif %}

        <h2>Lägg till mentor</h2>
        <form action="/admin/classes/{{ school_class['id'] }}/mentors" method="POST">
            <div class="form-group">
                <input type="hidden" id="request_type" name="request_type" value="add">
                <label for="email">Email</label>
                <input name="email" type="email" class="form-control" id="email" aria-describedby="email_help" placeholder="E-mail">
                <small id="email_help" class="form-text text-muted">E-postadressen till mentorn du vill ge åtkomst. Måste vara ett Googlekonto.</small>
            </div>
            <button type="submit" class="btn btn-primary">Skapa</button>
        </form>

        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Åtgärd</th>
                </tr>
            </thead>
            <tbody>
                {% for mentor in mentors %}
                <tr>
                    <th scope="row">{{ mentor["id"] }}</th>
                    <td>{{ mentor["email"] }}</td>
                    <td>
                        <form action="/admin/classes/{{ school_class['id'] }}/mentors" method="POST">
                            <input type="hidden" name="request_type" value="delete" />
                            <input type="hidden" name="id" value="{{ mentor['id'] }}" />
            
                            <button type="submit" class="btn btn-danger">
                                Radera
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}