{% extends "base.html" %}
{% block title %} - Elever i klass {{ school_class["class_name"] }}{% endblock %}
{% block body %}
{% include "admin/navbar.html" %}
    <div class="content">
        <h1>Elever registrerade på klass {{ school_class["class_name"] }}</h1>

        <button onclick="window.print();" class="btn btn-primary no-print">
            Skriv ut
        </button>

        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Namn</th>
                <th scope="col">Klass</th>
                <th scope="col">Vald aktivitet</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <th scope="row">{{ student["student"]["id"] }}</th>
                    <td>{{ student["student"]["first_name"] }} {{ student["student"]["last_name"] }}</td>
                    <td>{{ school_class["class_name"] }}</td>
                    <td>{{ student["activity_name"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}