{% extends "base.html" %}
{% block title %} - Adminsida{% endblock %}
{% block body %}
{% include "admin/navbar.html" %}
    <div class="content">
        <h1>Adminsida</h1>

        <div class="alert alert-info" role="alert">
            <b>
                <p>Statistik</p>
            </b>
            <p>Antal elever: {{ amount_students }}
            <br />Antal elever som valt aktivitet: {{ amount_students_setup }}
            <br />Antal aktiviteter: {{ amount_activities }}</p>
        </div>
    </div>
{% endblock %}