{% extends "base.html" %}
{% block title %} - Klasser{% endblock %}
{% block body %}
{% include "admin/navbar.html" %}
    <h1>Klasser</h1>

    <ul class="list-group">
        {% for class in school_classes %}
        <li class="list-group-item">
            <span>{{ class[1] }}</span>
            <a href="#"><button type="button" class="btn btn-primary">Redigera</button></a>
            <a href="#"><button type="button" class="btn btn-primary">Radera</button></a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}