{% extends "base.html" %}
{% block title %} - Elever{% endblock %}
{% block body %}
{% include "admin/navbar.html" %}
{% if fail %}
    <div class="alert alert-danger" role="alert">
        <p>{{ fail }}</p>
    </div>
    {% endif %}

    {% if success %}
    <div class="alert alert-success" role="alert">
        <p>{{ success }}</p>
    </div>
    {% endif %}
    <h1>Elever</h1>

    <form action="/admin/students", method="post">
        <div class="form-group">
            <label for="amount_of_codes">Hur många lösenord vill du ha?</label>
            <input name="amount_of_codes" type="text" class="form-control" id="amount_of_codes" placeholder="Antal koder">
        </div>
        <button type="submit" class="btn btn-primary">Skicka</button>
    </form>
    <form action="/admin/students", method="post">
        <button type="submit" name="reset_students" class="btn btn-primary">Rensa lösenord</button>
    </form>
{% endblock %}