<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/leader">Tullinge Booking - Aktivitetsledare</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/leader">Hem</a>
      </li>
    </ul>
  </div>

  <div class="navbar-collapse collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a onclick="signOut();" class="nav-link" href="/leader/logout">
          <button type="button" class="btn btn-secondary">Logga ut</button>
        </a>
      </li>
    </ul>
  </div>
</nav>
